<div xmlns:th="http://www.thymeleaf.org">
	<div class="container mx-auto py-4 text-center md:text-left">
		<div class="grid grid-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
			<div>
				<h3 class="uppercase">adresse</h3>
				<div class="w-5 h-px mt-1 mb-1.5 bg-black"></div>
				<p>15, rue du Château 75001 Paris, France</p>
			</div>
			<div>
				<h3 class="uppercase">contact</h3>
				<div class="w-5 h-px mt-1 mb-1.5 bg-black"></div>
				<p>info@monsite.fr<br>Tél : 01 23 45 67 89</p>
			</div>
			<div>
				<h3 class="uppercase">chez soi</h3>
				<div class="w-5 h-px mt-1 mb-1.5 bg-black"></div>
				<p>© 2023 par CHEZ SOI<br>Créé avec Wix.com</p>
			</div>
			<div>
				<h3 class="uppercase">nous acceptons</h3>
				<div class="w-5 h-px mt-1 mb-1.5 bg-black"></div>
				<ul>
					<li class="inline-block">
						master card
					</li>
					<li class="inline-block">paypal</li>
					<li class="inline-block">visa</li>
				</ul>
			</div>
		</div>
	</div>
</div>