<div th:fragment="navbar(activeNav)" xmlns:th="http://www.thymeleaf.org" x-data="navbarData()" class="bg-yellow-500 shadow px-2 py-2.5">
	<div class="container flex flex-wrap justify-between items-center mx-auto uppercase">
		<!-- logo -->
		<a th:href="@{/}" class="text-xl font-semibold whitespace-nowrap">chez soi</a>
		
		<!-- buttons -->
		<button @click="toggleVisibility" type="button" class="inline-flex items-center p-1 ml-3 text-sm text-gray-600 rounded-lg md:hidden hover:bg-yellow-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
	      <span class="sr-only">Open main menu</span>
	      <svg x-show="!isVisible()" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
	      <svg x-show="isVisible()" x-cloak class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
	    </button>
	    
	    <!-- links -->
	    <div class="w-full md:block md:w-auto" :class="isVisible() ? '' : 'hidden'" x-cloak>
	    	<ul class="flex flex-col mt-4 md:flex-row md:space-x-4 md:mt-0 md:text-sm md:font-light">
	    		<li>
	    			<a th:href="@{/}" th:classappend="${activeNav == 'accueil'} ? 'text-white'" class="block py-1 px-1.5 transition duration-150 ease-linear hover:text-white">
	    				accueil
	    			</a>
	    		</li>
	    		<li>
	    			<a th:href="@{/decouvrir}" th:classappend="${activeNav == 'decouvrir'} ? 'text-white'" class="block py-1 px-1.5 transition duration-150 ease-linear hover:text-white">
	    				découvrir
	    			</a>
	    		</li>
	    		<li>
	    			<a href="#" th:classappend="${activeNav == 'chambres'} ? 'text-white'" class="block py-1 px-1.5 transition duration-150 ease-linear hover:text-white">
	    				chambres
	    			</a>
	    		</li>
	    		<li>
	    			<a th:href="@{/contact}" th:classappend="${activeNav == 'contact'} ? 'text-white'" class="block py-1 px-1.5 transition duration-150 ease-linear hover:text-white">
	    				contact
	    			</a>
	    		</li>
	    		<li>
	    			<a href="#" th:classappend="${activeNav == 'reserver'} ? 'text-white'" class="block py-1 px-1.5 transition duration-150 ease-linear hover:text-white">
	    				réserver
	    			</a>
	    		</li>
	    	</ul>
	    </div>
	</div>
</div>